* {
	box-sizing: border-box;
}

ng-view > * {
	margin-bottom: 4px;
}

fieldset {
	border: 1px #ccc solid;
	margin-bottom: 2px;
}

body {
	margin: 0;
	padding: 0;
}

label {
	display: block;
	margin-bottom: 4px;
}

h3 {
	text-align: center;
}

header {
	background: #333 url(../img/logo.png) no-repeat 10px 20px;
	height: 95px;
	margin-bottom: 8px;
}

.l-chart-container {
	border: 1px #ccc solid;
	padding: 10px;
}

.l-chart-container form {
	width: 20%;
	display: inline-block;
}


[google-chart] {
	width: 78%;
	display: inline-block;
}

.controls {
	margin: 0;
}

.main {
	margin: auto;
	width: 992px;
}


